<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDl3v9Hm8y8Vev6Yk2qrZdeeHm0BF148ow</string>
	<key>GCM_SENDER_ID</key>
	<string>16723727966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalFitness</string>
	<key>PROJECT_ID</key>
	<string>finalfitness-e2f87</string>
	<key>STORAGE_BUCKET</key>
	<string>finalfitness-e2f87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16723727966:ios:302c94ad7fef0d83ae46cf</string>
</dict>
</plist>